<h1>All my lists of movies</h1>
<ul>
  <% @lists.each do |list| %>
    <li>
    <%= link_to "#{list.name}", list_path(list) %>
    </li>
  <% end %>
</ul>
<%= cl_image_tag("https://res.cloudinary.com/drfn6e3ue/image/upload/v1740753315/yruw4ybm4d78g96nhggw.jpg",
      width: 400, height: 300, crop: :fill) %>
